.App {
  text-align: center;
}

.b{
  margin-left: 2vw;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 50vw;
  left: 25vw;
  top: 15vh;
}

.navi{
  border-bottom-left-radius: 25px
}

.carddd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.galleryItem{
  width: 30vw;
  margin-bottom: 3vw;
  border-radius: 3vw;
}
.home{
  margin: 25px auto;
}
.home-card{
  max-width: 41.6vw;
  border-radius: 1vh;
  height: max-content;
  overflow: hidden;
  margin: 25px auto;
}